<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Your Pictures CSV Export</h1>
  <p>Hi there,</p>
  <p>Attached is the CSV file containing details of all pictures (ID, Title, Created At).</p>
  <p>If you have any questions, just reply to this email.</p>
  <hr>
  <p style="font-size: small; color: #888;">
    Sent on <%= Date.today.strftime("%B %-d, %Y") %> by steben
</body>
</html>
